/* Estilos generales */
body{
    color: #4d4d4f;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
}

p, li, a, small {
    font-family: 'Lato', sans-serif;
}

/* Tamaño textos */

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.25em;
}

h3 {
    font-size: 1.75em;
}

p{
    font-size: 1.5rem;
}

/* Navbar */

.navbar-academia {
    background-color: #e95c53;
    color: hsla(0, 100%, 100%, 0.52);
}
.header_academia:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.icon-bar {
    background-color: #ffffff;
}

.navbar-brand img {
    max-width: 200px;
}
.navbar-brand{
    padding: 10px 15px 0 15px;
}
.navbar-nav > li > a{
    color: #fff;
    text-shadow: none;
}
.nav > li > a:hover {
    background-color: initial;
    color: hsla(0, 0%, 100%, .5);
}
.nav > li > a:focus {
    background-color: #ffffff;
    color: #e95c53;
}


.navbar {
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Header */
.header_academia {
    text-align: center;
    height: 700px;
    padding-top: 200px;
    background-color: #f3f3f3;
    background-image: url('../img/fondo_2_red.jpg');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}

.swiper-container {
    width: 100%;
    height: 500px;
}

.header_academia h1 {
    color: #ffffff;
    font-size: 4.5em;
    font-weight: 900;
    max-width: 1200px;
    margin: auto;
    padding-bottom: 50px;
}
.header_academia h3 {
    color: #ffffff;
    font-weight: 600;
    line-height: 1.2;
    font-size: 2em;
}

/* cuadros */
.cuadro{
    background-color: #da0080;
    height: 160px;
    text-align: center;
    padding: 40px 0 0 0;
}
.cuadro_centro{
    background-color: #ba007c;
    margin: -10px 0 0 0;
    height: 180px;
    text-align: center;
    padding: 50px 0 0 0;
}
.cuadro a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5em;
}
.cuadro_centro a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5em;
}

/* cursos */
.cursos h2{
    text-align: center;
    padding: 60px 0 30px 0;
}
.thumbnail {
    border: 0;
    -webkit-box-shadow: initial;
    padding: 0;
}
.caption{
    padding: 15px 0 20px 10px;
}
.svg-inline--fa  {
    color: #888888;
    font-size: 18px;
    display: inline-block;
}

.caption h4{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    font-size: 1.7em;
    padding-bottom: 10px;
}

.card {
    position: relative;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 2px 2px 10px rgba(0,0,0,.11);
    width: 100%;
    margin-bottom: 20px;
}

.card.with-media .date {
    background-color: #f3f3f3;
    padding: 15px 0 8px 20px;
    font-size: 1.2em;
    position: absolute;
    margin-top: -10px;
    width: 100%;
}
.card.with-media .title {
    display: inline-block;
    width: 100%;
    background-color: #fff;
    font-size: 1.2em;
    padding: 25px 20px 10px 20px;
    text-transform: uppercase;
    text-align: left;
    color: #4d4d4f;
    margin-top: 30px;
}
.card.with-media .title h4{
    display: inline-block;
}
.card.with-media .footer {
    position: absolute;
    bottom: -10px;
    padding: 10px 20px 15px 20px;
    width: 100%;
    border-top: 1px solid #f3f3f3;
}
.card.with-media .footer p{
    color: #4d4d4f;
}
a:focus, a:hover {
    color: #23527c;
    text-decoration: none;
}
.datos__inner p{
    display: inline-block;
    font-size: 1.2em;
    padding-left: 10px;
}
.datos{
    padding-left: 20px;
    height: 240px;
}
.tag{
    color: #e95c53;
    display: inline-block;
}
.tag_add{
    color: #e95c53;
    display: inline-block;
    font-size: 1.2em;
    padding-left: 12px;
    margin-bottom: 0;
}
.monitor p{
    padding-top: 8px;
    font-size: 1.2em;
    color: #e95c53;
}
.clase-button-cerrar{
    background-color: #ffffff;
    background-image: none;
    color: #666666;
    padding: 6px 12px;
    touch-action: manipulation;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
    border: 1px solid #cccccc;
}
.clase-button{
    background-color: #f64a3e;
    background-image: none;
    color: #fff;
    padding: 6px 12px;
    touch-action: manipulation;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
}
.clase-button:focus, .clase-button:hover {
    background-color: #f64a3e;
    background-position: 0 -15px;
    color: #ffffff;
}

/* actividades pasadas */
.actividades{
    text-align: center;
    padding: 20px 0 20px 0;
}
.actividades__inner_img{
    max-width: 279px;
    display: inline-block;
}

/* nosotros */
.nosotros{
    background-color: #e95c53;
    height: 20vh;
    text-align: center;
    color: #ffffff;
    padding-top: 30px;
}
.resumen{
    font-size: 1.3em;
}
.nosotros__inner h3{
    padding-bottom: 15px;
    padding-top: 20px;
}
.nosotros__inner_monitor{
    display: inline-block;
    padding: 0 30px 0 0;
    text-align: center;
}
.nosotros__inner_monitor img{
    border-radius: 50%;
    max-width: 17vh;
}

/* contacto */
.contacto{
    padding: 10px 0 10px 0;
}
.info_contacto{
    margin: 30px 0 20px 0;
    color: #666666;
}
.info_contacto h4{
    padding: 20px 0 0 0;
}
.rrss{
    margin: 20px 0 10px 0;
}
.rrss a{
    padding: 0 10px 0 0;
}


/*footer*/
footer{
    background-color: #5c5c5c;
    color: #ffffff;
    padding-top: 40px;
    text-align: center;
    padding-bottom: 30px;
}
footer .datos-direc{
    font-size: 1.2em;
    letter-spacing: 0.5px;
    text-align: right;
}
footer .rrss .titulo_rrss{
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

/*icono instagram*/
footer ul.cnss-social-icon li.cn-fa-icon a.cnss-instagram{
    background-color: transparent !important;
}
footer ul.cnss-social-icon li.cn-fa-icon a{
    background-color: transparent !important;
}
footer .svg-inline--fa{
    color: #ffffff;
}
/*icono facebook*/
footer ul.cnss-social-icon li.cn-fa-icon a.cnss-facebook-square{
    background-color: transparent !important;
}

/*--------------------Masonry-------------------------*/
/* clearfix */
.grid_masonry:after {
  content: '';
  display: block;
  clear: both;
}
/* ---- grid-item ---- */
.grid-item {
  float: left;
}
.grid-item img{
    width: 100%;
}
.grid-item--horizontal { width:  220px; height: 165px; overflow: hidden; margin: 10px;}
.grid-item--vertical { width:  220px; height: 290px; overflow: hidden; margin: 10px;}


/*pag noticias*/
.recorte{
    height: 158px;
    overflow: hidden;
}
.articulo{
    border-bottom: 1px solid #cccccc;
    margin-top: 30px;
}
.articulo p{
    padding-bottom: 5px;
}
.vermas{
    color: #e95c53;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 15px;
    display: block;
}
.mas-contenido a{
    color:  #e95c53;
    border: 1px solid  #e95c53;
    text-align: center;
    padding: 10px;
    margin: 30px 0 60px 0;
}
.mas-contenido .mas_art:hover{
    color: #ffffff;
    background-color: #e95c53;
}
.mas-contenido{
    margin-top: 30px;
    margin-bottom: 60px;
    text-align: center;
}
.destacados{
    margin-bottom: 30px;
}
/*pag contacto*/
.header_articulo{
    background-image: url('../img/fondo_2_red.jpg');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    height: 180px;
    margin-bottom: 30px;
}
.header_articulo h1{
    padding: 65px 0 0 0;
    color: #ffffff;
    text-align: left;
    font-weight: 400;
    font-size: 2.8em;
}
.cont_formulario{
    background-color: #fafafa;
    margin-top: 20px;
}
.titulo-formulario{
    padding-top: 20px;
    line-height: 1.3;
}
.tamplate_formulario{
    background-color: #fafafa;
    padding: 40px 0 20px 0;
}


/*index slider*/
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: url('../img/descarga-rtl.svg');
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
    background-image: url('../img/descarga-ftl.svg');
}
.swiper-pagination-bullet-active{
    background: #e95c53;
}
.swiper-container {
    width: 100%;
    height: 100%;
    background: #f1f1f1;
    margin-top: 40px;
    }
.swiper-slide {
      font-size: 18px;
      color:#4d4d4f;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 40px 60px 40px 60px
    }
    .swiper-slide .title {
        font-size: 41px;
        font-weight: 400;
        font-family: 'Raleway', sans-serif;
        line-height: 1.2;
        padding-top: 10px;
    }
.swiper-slide .subtitle {
      font-size: 21px;
    }
.swiper-slide .text {
        padding-top: 30px;
        font-size: 15px;
        max-width: 500px;
        line-height: 1.4;
    }
.swiper-pagination{
    padding-bottom: 20px;
}
.wrapper{
    height: 300px;
    overflow: hidden;
    width: auto;
    margin-bottom: 20px;
}
/*galeria*/
.lb-nav a.lb-next{
    background: url('../../assets/img/next.png') right 48% no-repeat;
}
.lb-nav a.lb-prev{
    background: url('../../assets/img/prev.png') left 48% no-repeat;
}
.lb-data .lb-close{
    background: url('../../assets/img/close.png') top right no-repeat;
}

/*blog*/
.blog_cont{
    padding-bottom: 50px;
}
div#post-jumbotron {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 350px;
}
.titular_blog_int{
    padding-bottom: 30px;
    padding-top: 10px;
}
.contenido_blog{
    max-width: 900px;
    margin: 0 auto 50px auto;

}
.contenido_blog .btn_int_blog{
    margin-top: 20px;
}

/*-------------------ISOTOPE---------------------------*/
/* ---- button ---- */
.filters{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  background: #FFFFFF;
  border: none;
  color: #e95c53;
  border: 1px solid #e95c53;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  background-color: #f64a3e;
  color: #ffffff;
}

.button:active,
.button.is-checked {
    background-color: #e95c53;
    background-image: none;
    color: #fff;
    touch-action: manipulation;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
}

.button.is-checked {
  background-color: #e95c53;
  background-position: 0 -15px;
  color: #ffffff;
}

.button:active {
  background-color: #f64a3e;
}

/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 8px;
}

/* ---- isotope ---- */

.grid {
  background: #EEE;
  margin: 0 auto;
  max-width: 1200px;
  padding-left: 10px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ui group */

.ui-group {
  display: inline-block;
}

.ui-group h3 {
  display: inline-block;
  margin-right: 0.2em;
  font-size: 16px;
   vertical-align: middle;
}

.ui-group .button-group {
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
}

/* color-shape */

.color-shape {
  max-width: 360px;
  float: left;
  margin-left: 15px;
  margin-right: 15px;
}

/*--------------------- acordeón--------------------------*/
#accordion{ margin: 40px 0 20px 0; }
.ui-accordion .ui-accordion-header.contenido-ac { display: block; cursor: pointer; position: relative; margin: 10px 0 0 0; padding: 1em 1em 1em 1.5em; font-size: 100%; background-color: #ededed; }
.text-titulo{ vertical-align: middle; font-size: 18px !important; color: #4d4d4f; letter-spacing: 1px;}
.media_img{ vertical-align: middle; margin-right: 10px; }
.contenido-ac .text-ac{ font-size: 16px; line-height: 1.3; padding-bottom: 20px; padding-top: 20px; }
.ui-accordion .ui-accordion-content.desplegable-ac { padding: 0 1em 1em 1em; border-top: 0; overflow: auto; max-width: 900px;}

.ui-icon { display: inline-block; vertical-align: middle; margin-top: -.25em; position: relative; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; width: 30px; height: 19px;}
.ui-state-active .ui-icon, .ui-button:active .ui-icon { background-image: url("../../assets/img/ic_benef_up.png"); background-repeat: no-repeat; background-position: 90%; float: right; margin: 5px 0 0 0;}
.ui-icon, .ui-widget-content .ui-icon { background-image: url("../../assets/img/ic_benef_down.png"); background-repeat: no-repeat; background-position: 90%; float: right; margin: 5px 0 0 0;}
.ui-accordion .ui-state-active{ border: none;}
.ui-accordion .ui-accordion-header-active{ border: none;}

/*--------------- MAPA ---------------------*/
#map {
    height: 88vh;
    width: 100%;
}
.my-class {
  height:100px;
  width:100px;
}
#mapa_cursos{
    margin-bottom: 30px;
}
.sec-mapa .art-mapa{
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
}
.sec-mapa .art-mapa .zona_mapa{
    color: #666666;
    font-size: 1.4;
}
.sec-mapa .art-mapa p{
    margin-bottom: 6px;
}
.sec-mapa .art-mapa .btn-info{
    text-decoration: none;
    color: #595959;
}

@media (min-width: 992px) and (max-width: 1199px) {
    /*pag galeria de imagenes / img*/
    .example-image {
        height: 22rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /*pag galeria de imagenes / img*/
    .example-image {
        height: 17rem;
        margin: 5px 3px 5px 3px;
    }
    .margen_mapa .form-group{
        padding: 20px 0 0 0;
    }
    #map {
        height: 70vh;
        margin: 0 auto;
    }
    .cont_mapa_info{
        width: 90%;
        margin: 0 auto;
        padding-left: 30px !important;
    }
    .color-shape {
        max-width: 320px;
    }
    .blog_cont .mt-5{
        padding-bottom: 20px;
    }
    .header_academia h3{
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 767px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.625em;
    }

    h3 {
        font-size: 1.375em;
    }
    .header_academia h3{
        font-size: 1.5em;
    }
    /*menu desplegable responsive*/
    .navbar-nav {
        margin-top: 0;
        margin-bottom: 0;
        background-color: #ffffff;
    }
    .navbar-nav > li > a{
        color: #e95c53;
        border-top: 1px solid #ffe4eb;
    }
    .nav > li > a:hover{
        color: #e95c53;
    }
    .nav > li > a:focus {
        background-color: #f5f5f5;
    }
    /*pag inicio / header */
    .header_academia {
        height: 500px;
        padding-top: 100px;
        background-position: center;
    }

    .header_academia h1 {
        font-size: 2em;
        padding-bottom: 20px;
    }

    .header_academia p {
        padding: 1rem 4rem;
    }
    /*pag galeria de imagenes / img*/
    .example-image {
        width: 13rem;
        margin: 5px 5px 5px 5px;
        height: auto;
    }
    /*pag index quienes somos*/
    .nosotros {
        height: 16vh;
        padding-top: 13px;

    }
    .recorte {
        height: 180px;
        overflow: hidden;
    }
    /*pag contacto*/
    .header_articulo{
        height: 120px;
    }
    .header_articulo h1{
        font-size: 2em;
        padding-top: 46px;
    }
    .tamplate_formulario{
        padding-top: 20px;
    }
    .text-titulo{
        font-size: 17px !important;
        letter-spacing: normal;
    }
    .ui-accordion .ui-accordion-header.contenido-ac{
        padding-left: 1em;
    }
    /*index slider*/
    .swiper-slide .title {
        font-size: 23px;
    }
    .swiper-slide .text {
        padding-top: 10px;
    }
    .swiper-slide {
        padding: 40px 20px 40px 20px;
    }
    .swiper-button-next, .swiper-button-prev {
    width: 153px;
    margin-top: -59px;
    background-size: 14px 44px;
    bottom: 13px;
    top: auto;
    }
    .swiper-pagination {
        padding-bottom: 18px;
    }
    .wrapper {
    height: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    overflow: hidden;
    }

    .margen_mapa {
        padding: 0 20px 0 20px !important;
    }
    #map {
        height: 60vh;
    }
    .margen_mapa .form-group{
        padding: 20px 0 0 0;
    }
    #DivScroll{
        height: 40vh;
    }
    .slimScrollRail{
        height: 40vh;
    }
    footer .datos-direc{
        text-align: center;
    }
    .color-shape {
        max-width: 300px;
        margin-left: 0;
        margin-right: 0;
    }
    .card.with-media .footer p{
        font-size: 1.3rem;
    }
    .button-group .button{
        float: initial;
    }
    .filters{
        padding-top: 0;
    }
    .button-group .button{
        margin-bottom: 5px;
    }
    .blog_cont .mt-5{
        padding-bottom: 20px;
    }
    /*Masonry - galeria*/
    .grid-item--horizontal { width: 90%;  overflow: hidden; margin: 0 0 10px 0;}
    .grid-item--vertical { width: 90%;  overflow: hidden; margin: 0 0 10px 0;}
}
